body {
  margin: 0px;
}

canvas {
  background-image: url("https://imgs.search.brave.com/3Doa3EjGIIB-BUAGSWezulxwMVA83q77rfb9U9vxVTI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA2LzE5Lzc4LzYz/LzM2MF9GXzYxOTc4/NjM4NV9OMUFuRlhU/WXhKVkp2Q2hnTU9E/Z1kzRnR1SEZvdDQz/VS5qcGc");
  background-size: cover;
}

img {
  display: none;
}
