body {
  margin: 0px;
}

canvas {
  background-image: url("https://www.thoughtco.com/thmb/eowxJ-rvUqz47tEkWumCmU4Fwm4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-697389167-5a737ae0ba617700372d5569.jpg");
  background-size: cover;
}

img {
  display: none;
}
